# =====================
# PYTHON
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =====================
# VIRTUAL ENV
# =====================
.env
.venv/
venv/

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# MLFLOW (WAJIB)
# =====================
mlruns/

# =====================
# DATA (DVC)
# =====================
data/
!data/*.dvc

# =====================
# MODEL (DVC)
# =====================
models/
!models/*.dvc

# =====================
# LOGS
# =====================
*.log
